@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}
body {
  min-height: 100vh;
  color: rgb(26, 26, 31);
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
  display: flex;
  background: none;
  /* /* background-image: url(./images/wallpaper3.png);
  background-size: cover; */
  z-index: 2;
}

@media (min-width: 768px) {
  .wrapper {
    height: 45rem;
    width: 25rem;
    border: 10px solid rgb(5, 5, 6);
    border-radius: 40px;
  }
}

.wrapper .screen {
  flex: 1;
  min-width: 100%;
  transition: all 0.3s;
  background: none;
}

.wrapper.show-category .home-screen {
  transform: translateX(-100%);
}

.wrapper.show-category .category-screen {
  transform: translateX(-100%);
}

.wrapper.show-category .screen-backdrop {
  transform: translate(-50%, -60%);
}

.screen-background {
  top: 0%;
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-image: url(./images/wallpaper3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
}
/* .screen-backdrop {
  width: 135%;
  height: 25rem;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50%;
  background-color: rgba(49, 54, 59, 0.109);
  transition: all 0.3s;
  backdrop-filter: blur(5px);
} */

.head-wrapper {
  padding: 0 30px;
}
.menu-btn {
  width: 2rem;
  cursor: pointer;
  color: rgb(26, 26, 31);
}
.menu-btn img {
  width: 100%;
  transition: all 0.3s;
}
.menu-btn:hover img {
  transform: scale(1.1);
}

.welcome {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 0px;
  /* border: 1px solid black; */
}

.welcome h1 {
  font-size: 1.5rem;
}
.welcome p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.welcome .img {
  position: relative;
}

.welcome .img img {
  width: 6rem;
  margin: 0px;
}

.categories-wrapper {
  margin-top: 1rem;
  height: calc(100% - 8rem);
  padding: 0 30px;
  padding-bottom: 20px;
  overflow: auto;
}

.categories {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  background-color: rgba(245, 245, 245, 0.915);
  border-radius: 0.5rem;
  padding: 1rem 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px 5px rgba(26, 26, 31, 0.183);
  transition: all 0.3s;
}
.categories .category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 5px rgba(26, 26, 31, 0.305);
  background-color: rgb(245, 245, 245);
}

.category .left {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.category .left img {
  width: 4rem;
}

.category .content h1 {
  font-size: 1.5rem;
}
.category .content p {
  color: rgb(26, 26, 31);
  font-size: 0.9rem;
  opacity: 0.6;
}
.category .options-edit {
  width: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.category .options-edit img {
  width: 120%;
}

.category:hover .options-edit {
  opacity: 1;
  visibility: visible;
}

.category .toggle-btn {
  width: 2rem;
  cursor: pointer;
  opacity: 0.6;
}

/* tasks screen */
.category-screen .head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-screen .head-wrapper img {
  width: 2rem;
  cursor: pointer;
  color: rgb(26, 26, 31);
  transition: all 0.3s;
}
.category-screen .head-wrapper img:hover {
  transform: scale(1.1);
}

.category-screen .head-wrapper .options {
  rotate: 270deg;
}

.category-details {
  padding: 0 30px;
  margin-top: 7.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-details img {
  width: 4.5rem;
}

.category-details .details p {
  opacity: 0.6;
}

/* tasks */
.task-wrapper {
  padding: 0 30px;
  margin-top: 0.5rem;
  height: calc(100% - 12rem);
  padding-bottom: 10px;
  overflow: auto;
}

.no-task {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.6;
}
.tasks {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1 rem;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: max-content;
  cursor: pointer;
}

.task input {
  display: none;
}

.task .checkmark {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid rgba(66, 73, 81, 0.299);

  display: flex;
  align-items: center;
  justify-content: center;
}

.task .checkmark img {
  width: 1.5rem;
  opacity: 0;
  transition: all 0.3s;
}

.task:hover .checkmark img {
  opacity: 0.7;
}

.task input:checked ~ .checkmark {
  border: none;
}
.task input:checked ~ .checkmark img {
  transform: scale(1.1);
  opacity: 1;
}

.task input:checked ~ p {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-wrapper .delete {
  display: flex;
  align-content: center;
}

.task-wrapper .delete img {
  min-width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.task-wrapper:hover .delete img {
  visibility: visible;
  opacity: 0.7;
}

.task-wrapper .delete:hover img {
  transform: scale(1.1);
  opacity: 1;
}

/* add task */
.add-task-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border: none;
  box-shadow: 2px 2px 6px rgba(26, 26, 31, 0.202);
}
.add-task-btn img {
  width: 3.5rem;
  border-radius: 50%;
}

.add-task-btn.active {
  z-index: 3;
  bottom: 20rem;
  transform: rotate(45deg);
}

.add-task-btn:hover {
  transform: scale(1.1);
}

.add-task {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  transition: all 0.3s;
}

.add-task.active {
  bottom: 0;
}

.add-task .heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group label {
  display: block;
  width: 100%;
}

.input-group input,
.input-group select {
  width: 100%;
  border: 1px solid rgb(208, 208, 212);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.input-group label {
  width: max-content;
  padding: 0 5px;
  margin-top: 14px;
  color: white;
  margin-bottom: 5px;
}

.btns {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.btns button {
  z-index: 3;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  --webkit-text-stroke: 1px rgba(202, 207, 211, 0.421);
  text-shadow: 1px 1px 0 rgb(66, 73, 81, 0.421),
    -1px -1px 0 rgb(66, 73, 81, 0.421), 1px -1px 0 rgb(66, 73, 81, 0.421),
    -1px 1px 0 rgb(66, 73, 81, 0.421), 1px 1px 0 rgb(66, 73, 81, 0.421);
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.btns button.add-btn {
  background-color: rgb(68, 227, 123);
}
.btns button.cancel-btn {
  background-color: rgb(255, 75, 75);
}

.add-task-backdrop {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 135%;
  height: 20rem;
  border-radius: 50% 50% 0 0;
  backdrop-filter: blur(10px);
  background-color: #4442678b;
}

.black-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.black-backdrop.active {
  opacity: 1;
  visibility: visible;
}
